.fa-user{
    font-size: 25px;
}

/* Social Icons */
/* .fb:hover{
    color: #4267B2;
}
.ig:hover{
    color: #4267B2;
}
.wa:hover{
    color: #075E54;
}
.em:hover{
    color: yellow;
} */

.img-fix{
    height: 245px;
}

.map{
    margin-bottom: 2rem;
}
.love{
    color: inherit;
    
}

.love:hover{
    color: white;
  
}
.pd-2{
    padding: 1rem 2rem;
    font-weight: 600;
}
.img-s{
    height: 5rem;
    margin-left: 5rem;
}
.header-user{
    display: none;
}

@media (max-width:900px) {
    .img-s{
        margin-left: 0;
    }
}